* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
    color: white;
}

nav {
	background-color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.navigation {
	list-style: none;
	display: flex;
}

.navigation li {
	margin-left: 20px;
}

.navigation li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	transition: all .3s ease-in-out;
}

.navigation li a:hover {
	background-color: #fff;
	color: #333;
	border-radius: 5px;
}

.menu-toggle {
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.navigation {
		display: none;
		flex-direction: column;
		position: fixed;
		background-color: #333;
		top: 70px;
		left: 0;
		right: 0;
		height: 0;
		overflow: hidden;
		transition: all .3s ease-in-out;
	}

	.navigation.active {
		height: auto;
	}

	.navigation li {
		margin: 0;
	}

	.navigation li a {
		display: block;
		padding: 10px;
		border-bottom: 1px solid rgba(255,255,255,.2);
	}

	.menu-toggle {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	.menu-toggle.active i:first-child {
		display: none;
	}

	.menu-toggle.active i:last-child {
		display: block;
	}

	.menu-toggle i {
		display: block;
	}

	.menu-toggle i:last-child {
		display: none;
	}
}
